.comments-block {
    z-index: 10;
    position: absolute;
    top: 50px;
    left: 30%;
    height: calc(100% - 100px);
    width: 40%;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.comments-title {
    text-align: center;
}

.comment {
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background: #e9fcff;
    position: relative;
}

.comment-username {
    font-weight: bold;
    display: inline-block;
}

.comment-date {
    margin-left: 30px;
    font-size: 12px;
    color: #919191;
    display: inline-block;
}

.comment-message {

}

.pagination-list {
    list-style: none;
    display: block;
    text-align: center;
}

.pagination-list li {
    display: inline-block;
}

.pagination-list li a {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
    transition: .3s;
    color: #000;
    outline: none !important;
}

.pagination-list li.active a {
    background: #dadada !important;
}

.pagination-list li a:hover {
    background: #eee;
}

.icon {
    background-size: 60%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    z-index: 200;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}

.icon:hover {
    background-color: #dadada !important;
}

.icon-delete {
    background-image: url(../../assets/images/delete.svg);
    right: 10px;
}

.icon-edit {
    background-image: url(../../assets/images/pencil.svg);
    right: 40px;
}

.comment-edit-save {
    border-radius: 5px;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #008CBA;
    color: #008CBA;
    margin-right: 15px;
}

.comment-edit-cancel {
    border-radius: 5px;
    padding: 10px 15px;
}

.comments-add-block {
    padding: 10px;
    border: 1px solid #eafbfe;
    border-radius: 10px;
    margin-bottom: 10px;
}

.comments-add-block-title {
    margin-bottom: 10px;
}

.comments-close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 35px;
    line-height: 35px;
    color: #AAAAAA;
    font-weight: bold;
    cursor: pointer;
}

.comments-list-empty {
    text-align: center;
}
