.loginForm {
    width: 300px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.loginBtn {
    border-radius: 5px;
    padding: 10px 15px;
}

.btnLine {
    width: 100%;
    text-align: center;
}
