.node {
    cursor: pointer;
}

.overlay{
    background-color:#EEE;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size:10px;
    font-family:sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

#root {
    height: 100%;
    overflow: hidden;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}

.hidden {
    display: none;
}


.d3-context-menu {
    position: absolute;
    display: none;
    background-color: #f2f2f2;
    border-radius: 4px;

    font-family: Arial, sans-serif;
    font-size: 14px;
    min-width: 150px;
    border: 1px solid #d4d4d4;

    z-index:1200;
}

.d3-context-menu ul {
    list-style-type: none;
    margin: 4px 0;
    padding: 0;
    cursor: default;
}

.d3-context-menu ul li {
    padding: 4px 16px;
}

.d3-context-menu ul li:hover {
    background-color: #4677f8;
    color: #fefefe;
}

.select-cluster-block{
    position: absolute;
    margin: 10px;
    padding: 10px;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}

.button.success {
    float: right;
    border-radius: 5px;
    padding: 10px 15px;
}

.comment-link-block {
    text-align: center;
}

.comment-date-block {
    text-align: center;
    margin-bottom: 15px;
}

.comment-open-link {
    border-radius: 5px;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #008CBA;
    color: #008CBA;
    margin: 0;
}

.modal {
    z-index: 10;
    position: absolute;
    top: 50px;
    left: 30%;
    height: 230px;
    width: 40%;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    overflow: auto;
}
.close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 35px;
    line-height: 35px;
    color: #AAAAAA;
    font-weight: bold;
    cursor: pointer;
}


button, .button {
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    transition: background-color 300ms ease-out; }
button:hover, button:focus, .button:hover, .button:focus {
    background-color: #007095; }
button:hover, button:focus, .button:hover, .button:focus {
    color: #FFFFFF; }
button.secondary, .button.secondary {
    background-color: #e7e7e7;
    border-color: #b9b9b9;
    color: #333333; }
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
    background-color: #b9b9b9; }
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
    color: #333333; }
button.success, .button.success {
    background-color: #43AC6A;
    border-color: #368a55;
    color: #FFFFFF; }
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
    background-color: #368a55; }
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
    color: #FFFFFF; }
button.alert, .button.alert {
    background-color: #f04124;
    border-color: #cf2a0e;
    color: #FFFFFF; }
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
    background-color: #cf2a0e; }
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
    color: #FFFFFF; }
button.warning, .button.warning {
    background-color: #f08a24;
    border-color: #cf6e0e;
    color: #FFFFFF; }
button.warning:hover, button.warning:focus, .button.warning:hover, .button.warning:focus {
    background-color: #cf6e0e; }
button.warning:hover, button.warning:focus, .button.warning:hover, .button.warning:focus {
    color: #FFFFFF; }
button.info, .button.info {
    background-color: #a0d3e8;
    border-color: #61b6d9;
    color: #333333; }
button.info:hover, button.info:focus, .button.info:hover, .button.info:focus {
    background-color: #61b6d9; }
button.info:hover, button.info:focus, .button.info:hover, .button.info:focus {
    color: #FFFFFF; }
button.large, .button.large {
    padding-top: 1.125rem;
    padding-right: 2.25rem;
    padding-bottom: 1.1875rem;
    padding-left: 2.25rem;
    font-size: 1.25rem; }
button.small, .button.small {
    padding-top: 0.875rem;
    padding-right: 1.75rem;
    padding-bottom: 0.9375rem;
    padding-left: 1.75rem;
    font-size: 0.8125rem; }
button.tiny, .button.tiny {
    padding-top: 0.625rem;
    padding-right: 1.25rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.25rem;
    font-size: 0.6875rem; }
button.expand, .button.expand {
    padding-right: 0;
    padding-left: 0;
    width: 100%; }
button.left-align, .button.left-align {
    text-align: left;
    text-indent: 0.75rem; }
button.right-align, .button.right-align {
    text-align: right;
    padding-right: 0.75rem; }
button.radius, .button.radius {
    border-radius: 3px; }
button.round, .button.round {
    border-radius: 1000px; }
button.disabled, button[disabled], .button.disabled, .button[disabled] {
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
    background-color: #007095; }
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
    color: #FFFFFF; }
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
    background-color: #008CBA; }
button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary {
    background-color: #e7e7e7;
    border-color: #b9b9b9;
    color: #333333;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
    background-color: #b9b9b9; }
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
    color: #333333; }
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
    background-color: #e7e7e7; }
button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
    background-color: #43AC6A;
    border-color: #368a55;
    color: #FFFFFF;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
    background-color: #368a55; }
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
    color: #FFFFFF; }
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
    background-color: #43AC6A; }
button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
    background-color: #f04124;
    border-color: #cf2a0e;
    color: #FFFFFF;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
    background-color: #cf2a0e; }
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
    color: #FFFFFF; }
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
    background-color: #f04124; }
button.disabled.warning, button[disabled].warning, .button.disabled.warning, .button[disabled].warning {
    background-color: #f08a24;
    border-color: #cf6e0e;
    color: #FFFFFF;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus {
    background-color: #cf6e0e; }
button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus {
    color: #FFFFFF; }
button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus {
    background-color: #f08a24; }
button.disabled.info, button[disabled].info, .button.disabled.info, .button[disabled].info {
    background-color: #a0d3e8;
    border-color: #61b6d9;
    color: #333333;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus {
    background-color: #61b6d9; }
button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus {
    color: #FFFFFF; }
button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus {
    background-color: #a0d3e8; }

button::-moz-focus-inner {
    border: 0;
    padding: 0; }
